.nav-link.active {
  background-color: #bedddd !important ;
  color: #000000 !important;
}

#navbar-example3 {
  width: 25%;
}
#scrollspy-div {
  width: 75%;
}

.scroll-link{
    font-size: medium;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

@media (max-width: 1000px) {
  #navbar-example3 {
    display: none !important;
    width: 0%;
  }

  #scrollspy-div {
    width: 100%;
  }
}
