.small-button {
  color: rgb(0, 0, 0) !important;
  background-color: #f6fafa !important;
  border: 1px solid #add5d5 !important;
  padding: 0.25rem 7.5rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.small-button:hover {
  background-color: #f6fafa !important;
  border-color: #add5d5 !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid;
}

.recent-items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.recent-items-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  max-height: 100%;
  padding: 1rem;
  background-color: #e0efef;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border-color: #add5d5;
  width: 100%;
}

.recent-item-box {
  display: block;
  background-color: #f6fafa;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-decoration: none;
  color: inherit;
  transition: box-shadow 0.3s;
  border-color: #add5d5;
}

.recent-item-box:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.recent-item-content {
  display: flex;
  flex-direction: column;
}

.recent-item-content strong {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.recent-item-content p {
  font-size: 1rem;
  color: #666;
}

.left-aligned-container {
  width: 25%;
  display: flex;
}

.right-aligned-container {
  width: 75%;
}

/* Media query to hide left-aligned containers on small screens */
@media (max-width: 768px) {
  .left-aligned-container {
    display: none !important;
    width: 0%;
  }

  .right-aligned-container {
    width: 100%;
  }
}
