.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}


/* Button Styling  */
.log-in-button {
    font-size: 1rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #dfe8ef;
    /* cursor: pointer; */
    color: #333;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.log-in-button:hover {
    background-color: #94b5ce;
    border-color: #aaa;
    color: #ffffff;
}

/* Container for centering */
.account-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

/* Inner Content-Container */
.account-content {
    text-align: center;
    background: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}

/* List of user data */
.user-data {
    list-style: none;
    padding: 0;
    margin-bottom: 1.5rem;
}

.user-data li {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

/* Logout-Button */
.logout-button {
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    /* cursor: pointer; */
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #c82333;
}

/* Button Styling  */
.register-button {
    font-size: 1rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #dfe8ef;
    /* cursor: pointer; */
    color: #333;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.register-button:hover {
    background-color: #94b5ce;
    border-color: #aaa;
    color: #ffffff;
}