html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #e0efef;
}

.input-group-text {
  min-width: 20%;
  overflow: hidden;
}

.form-control {
  line-height: 1;
}

/*
.add-page-container {
  display: flex;
  flex-direction: column;
  top: 8%;
  bottom: 8%;
  background-color: #bedddd;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 2% 2%;
  padding: 1rem;
  position: absolute;
  width: 96%;
  height: 140%
} */


.add-page-container {
  min-height: calc(100vh - 80px); 
  margin: 0 auto; 
  margin-top: 4rem; 
  padding: 1rem; 
  overflow-y: auto; 
  max-width: 1200px; 
}


.btn-optional-data {
  color: rgb(255, 255, 255) !important;
  background-color: #315e5e!important;
  border: 1px solid #add5d5 !important;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  margin: 0.5%;
}

/* Hover-effect for button */
.btn-optional-data:hover {
  background-color: #f6fafa !important;
  border-color: #add5d5 !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid;
  color: black !important;
} 

/* flexible Layout */
.content {
  flex: 1;
  padding-bottom: 50px;
  height: 135%;
}

.add-tag-button {
  color: rgb(0, 0, 0) !important;
  background-color: #ffffff !important;
  border: 1px solid #94b5ce !important;
  padding: 0.25rem 1rem !important;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s !important;
}

.add-tag-button:hover {
  background-color: #94b5ce !important;
  color: white !important;
}

.upload-button {
  color: rgb(0, 0, 0) !important;
  background-color: #ffffff !important;
  border: 1px solid #94b5ce !important;
  padding: 0.25rem 1rem !important;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s !important;
}

.upload-button:hover {
  background-color: #892626 !important;
  color: white !important;
  border: 1px solid #892626 !important;
}

.button-container-add {
  right: 3% !important;
  outline: #94b5ce !important;
}

/* centering content */
.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

/* Styling warning */
.alert {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.alert-message {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
}

