/* Styling für die Navbar */
.navbar {
  background-color: #f8faf8;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
  font-family: Arial, sans-serif;
}

/* Logo und Brand-Name Styling */
.navbar-brand {
  display: flex;
  align-items: center;
  color: #343a40;
  font-weight: bold;
  text-decoration: none;
}

.navbar-brand img {
  margin-right: 0.5rem;
  border-radius: 5px;
}

/* Navbar-Links Styling */
.nav-link {
  color: #343a40;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.nav-link:hover {
  color: #648cb7;
}

/* Aktiver Link */
.nav-link.active {
  color: #477bb3;
}

/* Toggler Button Styling für Mobilgeräte */
.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  filter: brightness(0) invert(1);
}

/* Dropdown Menü */
.nav-item.dropdown .dropdown-menu {
  border-radius: 0.5rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.dropdown-item {
  color: #343a40;
  font-size: 1rem;
}

.dropdown-item:hover {
  background-color: #007bff;
  color: white;
}

/* Responsive Anpassungen */
@media (max-width: 992px) {
  .navbar-nav {
    text-align: center;
  }
}

/* Container für die Suchleiste hier auch später Filter rein! */
.SearchBar-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #f8f9fa;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: absolute;
  top: 13.5%;
  right: 3%;
}

/* Suchfeld Styling */
.form-control {
  flex: 1;
  border: 2px solid #ced4da;
  border-radius: 4px;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  width: 80%;
}

.searchbar-whitespace {
  width: 100%;
  max-width: 600px;

}

.form-control:focus {
  border-color: #80bdff;
  box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.25);
}

/* Button Styling */
.btn-outline-success {
  border-color: #4985aa !important;
  color: #488f97;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  transition: all 0.3s ease;
}

.btn-outline-success:hover {
  background-color: #536dc0 !important;
  color: white;
}

/* Für kleinere Bildschirme */
@media (max-width: 576px) {
  .SearchBar-container {
    padding: 0.5rem;
    flex-direction: column;
    width: 100%;
  }

  .form-control {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .btn-outline-success {
    width: 100%;
  }
}

/* .list-group-item {
  align-items: right;
}

.list-group {
  text-align: right;
} */

/* Container für die rechte Ausrichtung */
.right-aligned-container {
  position: absolute;
  top: 40%;
  /* Vertikale Positionierung je nach Bedarf anpassen */
  right: 1rem;
  /* Abstand vom rechten Rand */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}



/* Stil für die Listenelemente */
.right-aligned-container h3 {
  margin-bottom: 0.5rem;
  /* Optionaler Abstand zwischen h3 und Liste */
}

/* Anpassung für mobile Bildschirme */
@media (max-width: 768px) {
  .right-aligned-container {
    align-items: flex-start;
    /* Zurück zur linken Ausrichtung auf kleinen Bildschirmen */
    margin-right: 0;
  }
}

.start-search {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #f8f9fa;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
  margin: auto;
  position: absolute;
  top: 13.5%;
  left: 3%;
  font-weight: bold;
}