/* Styling for Navbar */
.navbar {
  background-color: #f8f9fa !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
  font-family: Arial, sans-serif;
  height: 8%;
}

/* our CatX-Logo in Navbar */
.navbar-brand {
  display: flex;
  align-items: center;
  color: #343a40;
  font-weight: bold;
  text-decoration: none;
}

.navbar-brand img {
  margin-right: 0.5rem;
  border-radius: 5px;
}

/* Navbar-Links Styling */
.nav-link {
  color: #61696e;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.nav-link:hover {
  color: #94b5ce !important;
}

/* active Link */
.nav-link.active {
  color: #94b5ce !important;
}

/* Toggler Button Styling for mobile devices */
.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  filter: brightness(0) invert(1);
}

/* Container for Searchbar */
.SearchBar-container {
  justify-content: center;
  align-items: center;
  padding: 1.63rem;
  background-color: #dfe8ef;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 50%;
  margin: auto;
  position: absolute;
  top: 13.5%;
  right: 3%;
}

/* Input for Searchbar */
.searchbar-whitespace {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.1rem;
  border: 1px solid #94b5ce;
  border-radius: 4px;
  outline: none;
}

.searchbar-whitespace::placeholder {
  padding-right: 5rem;
}

/* Searchbutton Styling  */
.btn-outline-searchbar {
  border-color: #94b5ce !important;
  color: #000000 !important;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  transition: all 0.3s ease;
}

.btn-outline-searchbar:hover {
  background-color: #94b5ce !important;
  color: white !important;
}


/* list in the container */
.list-recently-added {
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f8f9fa;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
  margin: auto;
  position: absolute;
  top: 30%;
  left: 3%;
  font-weight: bold;
  flex-direction: column;
}

/* Container for text to start search */
.start-search {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #f8f9fa;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
  margin: auto;
  position: absolute;
  top: 13.5%;
  left: 3%;
  font-weight: bold;
}
/* container on the right side for list */
.right-aligned-container {
  position: absolute;
  top: 8%;
  bottom: 8%;
  right: 0%;
  width: 60%;
  background-color: #dfe8ef;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 2% 2%;
  display: flex;
  flex-direction: column;
  padding: 2%;
} 

/* Verhalten für kleine Bildschirme */
@media (max-width: 768px) {
  .right-aligned-container {
    align-self: center; /* Nach unten verschieben (zentrieren) */
    width: 100%; /* Volle Breite nutzen */
    margin: 2% 0; /* Oben und unten etwas Abstand */
    flex-direction: column;
  }
}

/* style for heading */
.right-aligned-container h3 {
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;

}

/* list in the container */
.list-recently-added {
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f8f9fa;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
  margin: auto;
  position: absolute;
  top: 30%;
  left: 3%;
  font-weight: bold;
  flex-direction: column;
}



.left-aligned-container {
  bottom: 8%;
  top: 8%;
  left: 0%;
  height: 84%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2%;

}

/*Homepage Button View*/
.left-aligned-container-small {
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #dfe8ef;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
  margin: 2% 2%;
  position: absolute;
  left: 0%;
  font-weight: bold;
  flex-direction: column;
  margin-bottom: 2%;

}


.view {
  top: 8%;
}

.add {
  top: 29%;
}

.account {
  top: 50%
}

.help {
  top: 71%;
}


.btn-view {
  color: rgb(0, 0, 0) !important;
  background-color: #ffffff !important;
  border: 1px solid #94b5ce !important;
  padding: 0.25rem 7.5rem !important;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s !important;
}

/* Hover-effect for button */
.btn-view:hover {
  background-color: #94b5ce !important;
  border-color: #94b5ce !important;
  color: #ffffff !important;
}

.btn-add {
  color: rgb(0, 0, 0) !important;
  background-color: #ffffff !important;
  border: 1px solid #94b5ce !important;
  padding: 0.25rem 7.5rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Hover-effect for button */
.btn-add:hover {
  background-color: #94b5ce !important;
  border-color: #94b5ce !important;
  color: #ffffff !important;
}

.btn-account {
  color: rgb(0, 0, 0) !important;
  background-color: #ffffff !important;
  border: 1px solid #94b5ce !important;
  padding: 0.25rem 7.5rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Hover-effect for button */
.btn-account:hover {
  background-color: #94b5ce !important;
  border-color: #94b5ce !important;
  color: #ffffff !important;
}

.btn-help {
  color: rgb(0, 0, 0) !important;
  background-color: #ffffff !important;
  border: 1px solid #94b5ce !important;
  padding: 0.25rem 7.5rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Hover-effect for button */
.btn-help:hover {
  background-color: #94b5ce !important;
  border-color: #94b5ce !important;
  color: #ffffff !important;
}

/* App Container */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin:0;
}

/* Main Content */
.start-search,
.left-aligned-container,
.right-aligned-container {
  flex: 1;
}

/* Footer Styles */
.bg-custom {
  background-color: #f8f9fa;
  position: relative;
  z-index: 10;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  bottom: 0;
}



.recent-items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.recent-items-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  max-height: 100%;
  padding: 1rem;
  background-color: #f8f9fa;
}

.recent-item-box {
  display: block;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-decoration: none;
  color: inherit;
  transition: box-shadow 0.3s;
}

.recent-item-box:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.recent-item-content {
  display: flex;
  flex-direction: column;
}

.recent-item-content strong {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.recent-item-content p {
  font-size: 1rem;
  color: #666;
}


