/* Styling for Navbar */
.navbar {
  background-color: #f8f9fa !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
  font-family: Arial, sans-serif;
  height: 8%;
}

/* our CatX-Logo in Navbar */
.navbar-brand {
  display: flex;
  align-items: center;
  color: #343a40;
  font-weight: bold;
  text-decoration: none;
}

.navbar-brand img {
  margin-right: 0.5rem;
  border-radius: 5px;
}

/* Navbar-Links Styling */
.nav-link {
  color: #61696e;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.nav-link:hover {
  color: #94b5ce !important;
}

/* active Link */
.nav-link.active {
  color: #94b5ce !important;
}

/* Toggler Button Styling for mobile devices */
.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  filter: brightness(0) invert(1);
}

/* Dropdown menu */
/*
.nav-item.dropdown .dropdown-menu {
  border-radius: 0.5rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.dropdown-item {
  color: #343a40;
  font-size: 1rem;
}

.dropdown-item:hover {
  background-color: #007bff;
  color: white; 
}

/* Responsive design 
@media (max-width: 992px) {
  .navbar-nav {
    text-align: center;
  }
}
*/
/* Container for Searchbar */
.SearchBar-container {
  justify-content: center; /* Zentriere den Inhalt horizontal */
  align-items: center; /* Zentriere den Inhalt vertikal */
  padding: 1.63rem;
  background-color: #dfe8ef;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 50%;
  margin: auto;
  position: absolute;
  top: 13.5%;
  right: 3%;
}

/* Input for Searchbar */
.searchbar-whitespace {
  width: 100%; /* Nutze 100% der Containerbreite */
  padding: 0.5rem; 
  font-size: 1.1rem;
  border: 1px solid #94b5ce;
  border-radius: 4px;
  /*box-sizing: border-box;*/
  outline: none;
}

.searchbar-whitespace::placeholder {
  padding-right: 5rem;
}

/* Searchbutton Styling  */
.btn-outline-searchbar {
  border-color: #94b5ce !important;
  color: #000000 !important;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  transition: all 0.3s ease;
}

.btn-outline-searchbar:hover {
  background-color: #94b5ce !important;
  color: white !important;
}

/* for smaller devices 
@media (max-width: 576px) {
  .SearchBar-container {
    padding: 0.5rem;
    flex-direction: column;
    width: 100%;
  }

  .form-control {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .btn-outline-success {
    width: 100%;
  }
} */

/* container on the right side for list */
.right-aligned-container {
  position: absolute;
  top: 8%; /* Optional: Passe die vertikale Position an */
  bottom: 8%; /* Sorgt dafür, dass der Container den gesamten Bereich einnimmt */
  right: 0%; /* Setzt den Container an den rechten Rand */
  width: 60%; /* X durch den Platz für andere Inhalte (z. B. Sidebar) ersetzen, falls nötig */
  background-color: #dfe8ef;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px; /* Falls abgerundete Ecken nötig sind */
  padding: 1rem;
  margin: 2% 2%;
  display: flex;
  flex-direction: column;
}


/* style for heading */
.right-aligned-container h3 {
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;

}

/* list in the container */
.list-recently-added {
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f8f9fa;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
  margin: auto;
  position: absolute;
  top: 30%;
  left: 3%;
  font-weight: bold;
  flex-direction: column;
}

/* mobile devices 
@media (max-width: 768px) {
  .right-aligned-container {
    align-items: flex-start;
    margin-right: 0;
  }
} */

/* Container for text to start search */
.start-search {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #f8f9fa;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
  margin: auto;
  position: absolute;
  top: 13.5%;
  left: 3%;
  font-weight: bold;
}

.left-aligned-container {
  bottom: 8%;
  top: 8%;
  left: 0%;
  height: 84%;
}

/*Homepage Button View*/
.left-aligned-container-small {
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #dfe8ef;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
  margin: 2% 2%;
  position: absolute;
  left: 0%;
  font-weight: bold;
  flex-direction: column;
}

.view {
  top: 8%;
}

.add {
  top: 29%;
}

.account {
  top: 50%
}

.help {
  top: 71%;
}



.btn-view {
  color: rgb(0, 0, 0) !important;
  background-color: #ffffff !important;
  border: 1px solid #94b5ce !important;
  padding: 0.25rem 7.5rem !important;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s !important;
}

/* Hover-effect for button */
.btn-view:hover {
  background-color: #94b5ce !important;
  border-color: #94b5ce !important;
  color: #ffffff !important;
}


.btn-add {
  color: rgb(0, 0, 0) !important;
  background-color: #ffffff !important;
  border: 1px solid #94b5ce !important;
  padding: 0.25rem 7.5rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Hover-effect for button */
.btn-add:hover {
  background-color: #94b5ce !important;
  border-color: #94b5ce !important;
  color: #ffffff !important;
}

.btn-account {
  color: rgb(0, 0, 0) !important;
  background-color: #ffffff !important;
  border: 1px solid #94b5ce !important;
  padding: 0.25rem 7.5rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Hover-effect for button */
.btn-account:hover {
  background-color: #94b5ce !important;
  border-color: #94b5ce !important;
  color: #ffffff !important;
}

.btn-help {
  color: rgb(0, 0, 0) !important;
  background-color: #ffffff !important;
  border: 1px solid #94b5ce !important;
  padding: 0.25rem 7.5rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Hover-effect for button */
.btn-help:hover {
  background-color: #94b5ce !important;
  border-color: #94b5ce !important;
  color: #ffffff !important;
}

/* App Container */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main Content */
.start-search,
.left-aligned-container,
.right-aligned-container {
  flex: 1;
}

/* Footer Styles */
.bg-custom {
  background-color: #f8f9fa;
  position: relative;
  z-index: 10;
}

/*
.footer {
  background-color: #f8f9fa;
  color: #000000;
  text-align: center;
  padding: 1rem 0;
  bottom: 0;
  position: absolute;
  box-sizing: border-box;
}*/

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  bottom: 0;
}

/*
.footer-nav {
  margin-top: 0.5rem;
}

.footer-link {
  color: #61dafb;
  text-decoration: none;
  font-size: 0.9rem;
}

.footer-link:hover {
  text-decoration: underline;
}
  */


/** Recently Added List */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.left-aligned-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.left-aligned-container-small {
  margin-bottom: 20px;
}

.right-aligned-container {
  padding: 20px;
}

.recent-items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.recent-items-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  max-height: 100%; 
  padding: 1rem;
  background-color: #f8f9fa;
}
.recent-item-box {
  display: block;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-decoration: none;
  color: inherit;
  transition: box-shadow 0.3s;
}

.recent-item-box:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.recent-item-content {
  display: flex;
  flex-direction: column;
}

.recent-item-content strong {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.recent-item-content p {
  font-size: 1rem;
  color: #666;
}