html,
body,
#root {
  background-color: #e0efef;
  height: 100vh;
  overflow-y: hidden;
}

.bg-bedddd {
  background-color: #bedddd;
}

.content-div {
  height: 84vh;
  margin-top: 8vh;
  margin-bottom: 8vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.custom-container {
  justify-content: center;
  align-items: center;
  padding: 1.63rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 99%;
  position: relative;
  margin: 1vh;
  margin-bottom: 0;
  background-color: #bedddd;
}


/* Styling for Navbar */
.navbar {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  height: 8vh;
}

/* our CatX-Logo in Navbar */
.navbar-brand {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.navbar-brand img {
  margin-right: 0.5rem;
  border-radius: 5px;
}

/* Navbar-Links Styling */
.nav-link {
  color: #000000 !important;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.nav-link:hover {
  color: #315e5e !important;
}

/* active Link */
.nav-link.active {
  color: #bedddd !important;
}

.navbar-toggler-icon {
  filter: brightness(0) invert(1);
}

.small-button {
  color: rgb(0, 0, 0) !important;
  background-color: #f6fafa !important;
  border: 1px solid #add5d5 !important;
  padding: 0.25rem 7.5rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.small-button:hover {
  background-color: #f6fafa !important;
  border-color: #add5d5 !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid;
}

.recent-items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.recent-items-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  max-height: 100%;
  padding: 1rem;
  background-color: #e0efef;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border-color: #add5d5;
  width: 100%;
}

.recent-item-box {
  display: block;
  background-color: #f6fafa;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-decoration: none;
  color: inherit;
  transition: box-shadow 0.3s;
  border-color: #add5d5;
}

.recent-item-box:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.recent-item-content {
  display: flex;
  flex-direction: column;
}

.recent-item-content strong {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.recent-item-content p {
  font-size: 1rem;
  color: #666;
}

.left-aligned-container {
  width: 25%;
}

.right-aligned-container {
  width: 75%;
}

/* Media query to hide left-aligned containers on small screens */
@media (max-width: 768px) {
  .left-aligned-container {
    display: none;
  }

  .right-aligned-container {
    width: 100%;
  }
}
