.btn-outline-searchbar {
    color: rgb(0, 0, 0) !important;
    background-color: #f6fafa !important;
    border: 1px solid #bedddd !important;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Hover-effect for button */
.btn-outline-searchbar:hover {
    background-color: #f6fafa !important;
    border-color: #add5d5 !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid;
}

.custom-container-results {
    justify-content: center;
    align-items: center;
    padding: 1.63rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 99%;
    position: relative;
    margin: 1vh;
    margin-bottom: 0;
    overflow-y: auto;
}

.custom-container-results.bg-body-tertiary {
    background-color: #e0efef !important;
}

/* Container FilterableListGroup */
.FilterableListGroup-container {
    margin-top: 7%;
    background-color: #315e5e;
}

/* Styling for search and filter box */
.search-with-filter-container {
    justify-content: center;
    padding: 1.63rem;
    background-color: #315e5e;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: absolute;
    top: 13.5%;
    right: 3%;
    left: 3%;
}

/* active filter tags */
.selected-tag {
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 30px;
    border: 2px solid #ddd;
    background-color: #315e5e;
    color: #ffffff !important;
    transition: all 0.3s ease;
    cursor: pointer;
}

.other-tag {
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 30px;
    border: 2px solid #bedddd;
    background-color: #f6fafa;
    color: #000000 !important;
    transition: all 0.3s ease;
    cursor: pointer;
}

/* Hover effects */
.other-tag:hover {
    background-color: #f6fafa;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* back button */
.back-button {
    color: rgb(0, 0, 0) !important;
    background-color: #f6fafa !important;
    border: 1px solid #bedddd !important;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Hover-effect for button */
.back-button:hover {
    background-color: #f6fafa !important;
    border-color: #add5d5 !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid;
}

.details {
    height: 92%;
}

.item-detail-h2 {
    height: 8%;
}

.item-detail-div {
    height: 92%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.detail-preview-left-side {
    position: relative;
    padding: 10px;
    font-size: 14px;
    overflow-y: scroll;
}

/* textarea json preview */
.json-preview-right-side textarea {
    width: 100%;
    height: 85%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    resize: vertical;
}


/* responsive Design */
@media (max-width: 768px) {

    .left-side-container-view-page,
    .json-preview-right-side {
        width: 100%;
        height: 100%;
        margin-bottom: 16px;
    }

    .json-preview-right-side textarea {
        height: 300px;
    }
}